<div class="container-fluid">
  <div class = "row">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Nombre</th>
          <th class="h4">Pais</th>
          <th class="h4">Tipo de Comida</th>
          <th class="h4">Fundacion</th>
        </tr>
        </thead>
      <tbody>
        <tr *ngFor="let r of restaurantes" (click)="onSelected(r)">
          <td>
            <dd>{{r.id}}</dd>
          </td>
          <td>
            <dd>{{r.name}}</dd>
          </td>
          <td>
            <dd>{{r.country}}</dd>
          </td>
          <td>
            <dd>{{r.cuisine}}</dd>
          </td>
          <td>
            <dd>{{r.opening_year}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
    <p> EL restaurante con mejor puntuacion es {{mejorPunt(restaurantes).name}} y tiene {{mejorPunt(restaurantes).rating}} puntos</p>
  </div>

  <div class="col-6">
    <div *ngIf="selected">
      <app-restaurante-detail [restauranteDetail]="selectedRestaurante"></app-restaurante-detail>
     </div>
    </div>
    </div>
    </div>
    